*{
    margin: 0px;   
    padding: 0px;
    box-sizing: border-box;
}

.menu-options{
    border: 0.5px solid;
    height: 30px;
    /* display: flex; */
}



.address-content{
    border: 0.5px solid;
    height: 30px;
}

.cells-content{
    height:85vh;
    
    overflow: auto;
    position: relative;
}

.sheets{
    border: 0.5px solid;
    height: 30px;
}

.row{
    display: flex;
}

.cell{
    outline: none;
    border: 0.2px solid gray;
    min-height: 30px;
    width: 100px;
    padding:0.2rem;
}

.top-left-cell{
    border-right: 0.1px solid gray;
    border-bottom: 0.1px solid gray;
    height: 30px;
    width: 30px;
    background-color: lightgrey;
    position: absolute;
    z-index: 50;

}

.top-row{
    display: flex;
    position: absolute;
    
    background-color: lightgrey;
    left: 30px;
    z-index: 20;


}

.top-row-cell{
    height: 30px;
    width: 100px;
    border-bottom: 0.1px solid gray;
    border-left: 0.1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-col{
    background-color: lightgrey;
    position: absolute;
    left: 0px;
    top:30px;
    z-index: 20;
}

.left-col-cell{
    height: 30px;
    width: 30px;
    border-bottom: 0.1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cells{
    position: absolute;
    top:30px;
    left:30px;
}

#address{
    text-align: center;
    font-size:large;
    width: 60px;
}


