*{
    margin:0;
    padding:0;

}

body{
    box-sizing: border-box;
}


.feedHeader {
    padding:.5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.insta_img {
  height: 3rem;
}

.profile_img {
    box-shadow: 4px 3px 4px black;
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 50%;
}

.main_container {
  margin-top: 10px;
}

.upload_container {
  width: 100%;
  height: fit-content;
  background-image: linear-gradient(
    to bottom right,
    rgb(243, 74, 74),
    rgb(0, 102, 255)
  );

  border-radius: 5px;
}

.logoutButton {
  border: none;
  background-color: red;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}
.uploadContainer {
  background-image: linear-gradient(
    to bottom ,
    lightgray,
    rgb(134, 132, 132)
  );

  display: flex;
  justify-content: center;
  padding: 1rem 0;
}
